{% extends 'base.html' %}

{% block content %}
{% load static %}



{% if user.is_authenticated %}
<header>
  <div class="row masthead" 
  style="background:transparent url('{% static 'core/castle.jpg' %}') no-repeat center center /cover"> 
  <div class = "content">          
    <h1>Welcome {{ user.username  }}</h1>

  </div>
</div>
</header>

<header>
  <div class="row masthead2 .img-rounded" 
  style="background:transparent url('{% static 'core/WNBA_Projection_Example.PNG' %}') no-repeat center center /cover"> 



  <div class="content bg-inverse text-white">
    <h1> Preview </h1>
  </div>
</header>

</div><!-- content container -->

{% else %}   
<header>
  <div class="row masthead" 
  style="background:transparent url('{% static 'core/castle.jpg' %}') no-repeat center center /cover"> 
  <div class = "content">          
    <h1>Premium Daily Fantasy Information</h1>
    <a class="btn btn-primary btn-xl" href="/signup">Sign Up</a>
    <a class="btn btn-secondary  btn-outline-primary btn-xl" href="/login">Sign in</a>
  </div>
</div>
</header>

<header>
  <div class="row masthead2 .img-rounded" 
  style="background:transparent url('{% static 'core/WNBA_Projection_Example.PNG' %}') no-repeat center center /cover"> 



  <div class="content bg-inverse text-white">
    <h1> Preview </h1>
  </div>
</header>

</div><!-- content container -->

{% endif %}

{% endblock %}

