{% extends 'base.html' %}

{% block title %}
Small Ball
{% endblock %}

{% block content %}
{% load static %}
  <!-- bg-faded-->

    <!-- Navigation -->
    
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">Small Ball</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">Elliot Stern</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on May 19, 2017</p>

          <hr>

          <!-- Preview Image -->
          <img src="{% static 'core/Mozgov_Effect_box_whisker.png' %}" alt="blog-img" width="500">

          <hr>

          <!-- Post Content -->
          <p class="lead">Small Ball, the NBA buzzword that is a real game changer at shifting synergy and is really outside the box. Small Ball is the new era and the center position is dead. Timothy Mozgov has no place in the Small Ball era. Draymond Green is “my 1st team all-NBA center” (Bill Simmons). Every talking head and the head of their mother has jumped on this hype called Small Ball. But does it actually work? What if I argued that the team who started the phase didn’t even do it themselves?</p>

          <p>The Golden State Warriors are the source of the Small Ball revolution. The Warriors have shown dominance by winning the most games over the past 3 seasons as well as taking home a championship, with their Small Ball lineup posting ungodly numbers. Teams have been playing copycat to Small Ball harder than my 4-year old niece and her new pet parrot, Mimic, who didn’t get the name for his flying abilities.</p>

          <p>The thing is, the Warriors rarely use their Small Ball. Draymond Green at a lowly 6’7” is what makes the lineup “Small Ball”. How often does Draymond play center? 20% of the time he is on the court (basketball-reference.com). Not even 20% of the entire game. If an NBA game was the work week, Draymond wouldn’t even be at center for the entire weekend. If the NBA game were those 5 dentists interviewed about Crest, it wouldn’t even be the 1 in 5 doctor who wouldn’t sell their soul to check the box saying that Crest toothpaste makes your teeth bright enough for you to work as the first human lighthouse.</p>

          <p>The small ball team is not the key to the Warriors. It is not even their best lineup. In the past, their best point differential lineup was their small ball lineup. The “worst” player on their small ball lineup, Harrison Barnes received a 95 million dollar contract this summer. In contrast, their centers Andrew Bogut and the often hurt, Festus Ezeli, were simply not on the same level as a finals MVP, Iguodala, an MVP, Curry, an all-star, Klay, a 95-milllion dollar player, Barnes, or another all-star, Green. This year, with the addition of a true alley-oop threat JaVale McGee, their small ball lineup no longer has the largest point differential. Instead, the non-small ball lineup with McGee holds the best point differential.</p>

          <p>So, who are some of the teams to copy/model Small Ball?
              <li>The Cleveland Cavaliers have put Tristian Thompson, a hair under 6’9” at their center.</li>
              <li>The Boston Celtics signed Al Horford for their center coming in just under 6’10” without a spectacular wingspan or jumping ability to make up for his short stature.</li>
          </p>
           <p>This is has landed both teams outside the top 10 in defensive efficiency.I am in no way insulting Tristian Thompson or Al Horford as basketball players. The same way we all agree Stephen Curry is a great player, we can agree that putting him at center would leave your defense in trouble and make every 7-footer facing the Warriors smile hard enough to get on a Crest toothpaste commercial. Why am I talking about Crest?
          </p>
          <p> 
          Defensive efficiency, shleshlopping shmuchkers, one might mock. After all, a rec basketball player once told me, in basketball, the best defense is a good offense. Here is why that matters. Here is the defensive efficiency of every team to make NBA finals/win from the year 2000. 
                    <img src="{% static 'core/defense_v_champ.jpg' %}" alt="blog-img" width="500">
                    Source: NBA.com
          </p>
          <p>To note, I changed the Cavs defensive rank to 10th instead of 20th because they ranked 10th in defense after trading for Timofey Mozgov and Iman Shumpert.</p>
          <p>It should also be noted that the Lakers who finished 18th in defense in 2001 may have been “turning it off” or not given full effort in the regular season. They finished 1st in defense the year before and 7th the year after with similar rosters. The Lakers would go on to be 1st in the playoffs in defense.</p>
          <p>This Graphic’s message is simple. Defense is a large part of basketball no matter what James Harden may argue. Most of these teams ranked in the top 10 in defense.</p>
          <p>Moreover, the Celtic’s 12th defense due to a “Small Ball” center and the Cleveland Cav’s 22nd ranked defense due to their “Small Ball” center will cause them problems vs. whomever comes out of the Western Conference. In the past 16 years, only 1 of the 304 teams with a defense outside the top 10 has won a championship.</p>
          <h2>Importance of a Real Rim Protector</h2>
          <p>One case in the importance of a rim protector is the acquisition of Tim Duncan and David Robinson on the San Antonio Spurs. Both men come in around 7 feet tall and arms long enough to strike fear into the ladder industry. As a matter of fact, the hype around Small Ball may be a result of the ladder industry trying to attack the social standing of tall men therefore hurting the reproduction chance of tall men ergo more ladder sales. Talk about long cons. Oh my. Shout out Alex Jones and crazy man yelling at squirrel on the subway.</p>
          <p>Here is a chart showing the defensive rating of the Spurs when they lost Robinson for the 1996-97 season. Without a true rim protector, their defense dropped from 5th in the league to 28th. Next, after drafting Tim Duncan the next year, the defense jumped to 2nd in the league.
               <img src="{% static 'core/Spurs_defense.png' %}" alt="blog-img" width="500"></p>
          <p>Another more recent example is Timofey Mozgov on the Cleveland Cavaliers. Timofey Mozgov came to the Cavs in the second half of 2014-15 season. Their defense instantly got a boost. In 2017’s terms, their defense would have gone from the around 22nd to around the 7th best defense. Similarly, when Mozgov packed his bags for LA for the 2016-17 season, their defense fell to back into the 20s. As shown by the chart above, having a defense in the 20’s has not been a recipe for a championship.</p>
          <p>Here are the charts of both the average and boxplots of defense with and without Mozgov.
           <img src="{% static 'core/Mozgov_Effect_box_whisker.png' %}" alt="blog-img" width="500"></p>
          <p>As somebody who has played a lot of basketball, when the other team had that tree in the middle, it is the definition of the word frustrating. Blowing by your defender only to come across another, more challenging defender at the hoop may be the worst feeling in the game. It is like the first time a person pays taxes and they find out that much of their earnings will be taken back. Or, when you get a girl’s number only to find out she is moving to Mexico or has a boyfriend or in my case, both.</p>
          <p>For all the hype around the Golden State Warriors lineup, the Warriors lineup with the biggest point differential this year has JaVale McGee in it. I’d like to meet the critique who calls the 7 foot, 270 lb, JaVale, small. If he is small, I would not be flattered to find out what adjective I get described as. I am not saying that Small Ball is useless or that it can’t be useful for certain matchups. The thing is, it is useful with unique personnel (Draymond Green) and is not a one size fits all game-changing revolution.</p>
          <p>Github Repository for the graphs: 
          <a href="https://github.com/basketballbeane/Small_Ball">https://github.com/basketballbeane/Small_Ball </a>
          <br />          <br />
          By Elliot Stern (<a href="https://www.linkedin.com/in/elliot-stern-a365388a/">Linkedin Link</a>)
          <hr>


          <!-- Categories Widget 
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Freebies</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Tutorials</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div> -->

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}
